.grid-container-2{
    display: grid;
    column-gap: 1px;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(5, 20px);
    font-size: 0.9rem;
    padding: 0px 0px 10px 10px;
    .grid-item{
        padding-bottom: 20px;
        font-size: 0.9rem;
    }
}

.grid-container-3{
    display: grid;
    column-gap: 1px;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(3, 20px);
    font-size: 0.9rem;
    padding: 0px 0px 10px 10px;
    .grid-item{
        padding-bottom: 20px;
        font-size: 0.9rem;
    }
}