{% extends 'index.html' %}
{% load static %}

{% block main %}

    <h1 class="text-center name">{{name}}</h1>
    <div class="figura mt-4">
        <p class="about text-center">{{about}}</p>
    </div>
    <div>
        <p class="mx-4 mt-4 text-wrap text-justify" style="text-align: justify;">
            Tengo 25 años y actualmente estoy cursando el quinto año de Ingeniería en
            Computación en la Universidad Nacional de Ingeniería. Me caracterizo por ser una
            persona trabajadora y cumplidora, comprometido con mis estudios y metas
            académicas.
        </p>
    </div>
{% endblock %}